body {
    margin: 0;
    font-family: 'Oxanium', cursive !important;    
}

.link {
    color: white !important; /*  variant=dark oldugundan bootsrtap i asmamiz gerekli */
    margin-right: 20px;
}

.link:hover {
    color:rgb(223, 142, 142) !important;
}

.cardBox:hover {
    box-shadow: none !important;
    cursor: pointer;
}